#features {
    margin: 1em 0;
    text-align: center;

    h3 {
        color: $brand-primary;
        font-weight: 300;
    }
}

.feature {
    margin: 1.5em 0.5em;

    p {
        text-align: justify;
    }
}